[Desktop Entry]
Name=RaspberryPi
Comment=Remote ssh-connect of the small computer
GenericName=
Keywords=rpi; raspberry;
Exec=sh /opt/rpi/execute.sh
Terminal=false
Type=Application
Icon=/opt/rpi/logoPi.svg
Path=/opt/rpi
Categories=
NoDisplay=false
